/* @import 'tritv_reset.css'; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #222f3a;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.header-title{
    margin: 34px 0 0px 0;
}

.video{
    width: 100%;
    height: 30rem;
}

hr{
    height: 1px;
    width: 98%;
    background: #cbd1d6;
}

.hr-tritv{
    height: 1px;
    width: 92%;
    background: #cbd1d6;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}